n8n-workflows/Affiliate-worker.json
{
  "name": "Affiliate-worker",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/generate-post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"product_name\": \"TWS Bluetooth Earphones F9-5 Waterproof\",\n  \"product_description\": \"Wireless earbuds with heavy bass, LED power display, 2000mAh charging case which can also be used as a power bank to charge your phone.\",\n  \"price\": \"Rp 45.000\",\n  \"affiliate_link\": \"https://shopee.co.id/example-affiliate-link\",\n  \"marketplace\": \"Shopee\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "29d9210c-2807-4d33-bc3f-b46dd0e3fdf1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "1072535669",
        "text": "={{ $json.telegram_post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        144
      ],
      "id": "802a8fd7-42cb-4f9a-a707-48339e79ce11",
      "name": "Send a text message",
      "webhookId": "5ac573c5-ec1e-4428-b884-65b820216da2",
      "credentials": {
        "telegramApi": {
          "id": "GTonYayyG8uDqaq7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "{",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "70167874-5bca-49d7-a820-79e935364bfc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54b28e39-e74b-4f37-96cf-3338207fae70",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "http",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -656,
        16
      ],
      "id": "2231cb9c-b91a-4681-9dd2-efdc67f99860",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/process-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"{{ $json.message.text }}\",\n  \"marketplace\": \"{{ $json.message.text.includes('tokopedia') ? 'Tokopedia' : ($json.message.text.includes('tiktok') ? 'TikTok Shop' : 'Shopee') }}\",\n  \"scraper_type\": \"browserless\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        192
      ],
      "id": "1677db25-816a-410e-b571-49e569f59924",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "⏳ Sedang mengecek link dan menulis caption... Tunggu bentar ya Bestie!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        16
      ],
      "id": "b8b4891e-a744-4bb0-b4bf-7875b92214b6",
      "name": "Send a text message1",
      "webhookId": "664c65c1-55c1-4a83-96ba-d208e5363e19",
      "credentials": {
        "telegramApi": {
          "id": "GTonYayyG8uDqaq7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⏳ Sedang mengecek link dan menulis caption... Tunggu bentar ya Bestie!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        176
      ],
      "id": "9b5d08ee-8725-4901-a936-4c709002ceb7",
      "name": "Send a text message2",
      "webhookId": "9852607e-a250-4cf2-81c1-6fc9349e9afc",
      "credentials": {
        "telegramApi": {
          "id": "GTonYayyG8uDqaq7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        32
      ],
      "id": "131d6142-b7a1-4d7f-8fcb-65e4b71616c9",
      "name": "Telegram Trigger",
      "webhookId": "f8156548-4663-4dfb-88ed-279e35a2c3f9",
      "credentials": {
        "telegramApi": {
          "id": "GTonYayyG8uDqaq7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c95c4791-01df-4000-aba0-c283b1ddc9be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "18e64434879a62d0f53f7a4152df95e0c6f3205bd6e3a9ebd171c3b4964e4afb"
  },
  "id": "iSrPohSLY5gp9uUD",
  "tags": []
}